.general-container {
  margin: 0;
  .images {
    width: 100%;
    height: 800px;
    overflow: hidden; /* Oculta las imágenes adicionales que están fuera del contenedor */
    position: relative; /* Para posicionar correctamente las imágenes */
    img {
      width: 100%;
      height: 100%;
      transition: transform 0.5s ease; /* Añade una transición suave */
      position: absolute; /* Posición absoluta para superponer las imágenes */
      top: 0;
      left: 0;
    }
  }
}
