@import "../../../styles.scss";

.store {
  padding: 30px;
}

.store-controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  .store-filter-btn {
    background-color: $light; // Cambia esto al color que desees
    color: $dark;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: darken($light, 10%);
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 3px rgba($light, 0.3);
    }
  }

  .store-sort-select {
    background-color: $light;
    color: $dark;
    border: 1px solid $grey;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: border-color 0.3s;

    &:hover {
      border-color: $light;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 3px rgba($light, 0.3);
    }

    option {
      background-color: $light;
      color: $dark;
      padding: 10px;
      font-size: 16px;

      &:hover {
        background-color: lighten($light, 40%);
      }

      &:checked {
        background-color: $light;
        color: $grey-dark;
      }
    }
  }
}

.store-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px;
}

.store-item {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $light;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.store-item-image {
  width: 100%;
  height: auto;
  border-bottom: 0.1px solid $grey;
  padding: 10px;
}

.store-item-info {
  padding: 16px;
  text-align: center;
}

.store-item-player {
  font-size: 32px;
  margin: 8px 0;
  color: $dark;
}

.store-item-team {
  font-size: 20px;
  font-weight: bold;
  color: $dark;
}

.store-item-price {
  font-size: 20px;
  color: #333;
  font-weight: bold;
}

.store-item-btn {
  background-color: $logo-color-blue;
  color: $light;
  padding: 13px 17px; // Aumenta el padding para hacer el botón más grande
  font-size: 16px; // Aumenta el tamaño de la fuente para hacer el texto más grande
  border: 1px solid $logo-color-blue;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s;
  &:hover {
    background-color: darken($logo-color-red, 10%);
    border: 1px solid darken($logo-color-blue, 10%);
  }
}
