<div class="login-container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h2>Inicia Sesión</h2>
    <div class="form-group">
      <!-- <label for="username">Usuario</label> -->
      <input
        id="username"
        formControlName="username"
        type="text"
        placeholder="Usuario"
      />
    </div>
    <div class="form-group">
      <!-- <label for="password">Contraseña</label> -->
      <input
        id="password"
        formControlName="password"
        type="password"
        placeholder="Contraseña"
      />
    </div>
    <button type="submit" [disabled]="loginForm.invalid">Login</button>
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
  </form>

  <div class="big-social-media">
    <h3>Síguenos en nuestras redes</h3>
    <div class="social-media">
      <a href="https://www.facebook.com/NBA" target="_blank" class="facebook">
        <ng-icon name="bootstrapFacebook"></ng-icon>
      </a>
      <a
        href="https://www.instagram.com/NBA/"
        target="_blank"
        class="instagram"
      >
        <ng-icon name="bootstrapInstagram"></ng-icon>
      </a>
      <a href="https://twitter.com/NBA" target="_blank" class="x">
        <ng-icon name="bootstrapTwitterX"></ng-icon>
      </a>
    </div>
  </div>
</div>
