@import "../../../styles.scss";

.login-container {
  position: relative;
  max-width: 500px;
  height: 500px;
  margin: 0 auto;
  padding: 3rem;
  border: 1px solid $light;
  border-radius: 8px;
  background-color: $light;
  box-shadow: 0 10px 15px rgba(255, 255, 255, 0.5);
  text-align: center;

  // Margenes de arriba y abajo
  margin-top: 6.9rem;
  margin-bottom: 6.9rem;

  form {
    display: flex;
    flex-direction: column;
  }

  .form-group {
    margin-bottom: 2rem;
    input::placeholder {
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      font-size: 1.2em;
    }
  }

  input {
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5); // Añadir esta línea
  }

  button {
    padding: 0.75rem;
    border: none;
    border-radius: 15px;
    background-color: #007bff;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #0056b3;
    }

    &:disabled {
      background-color: #cccccccc;
      cursor: not-allowed;
    }
  }

  .error-message {
    margin-top: 2rem;
    color: rgba(255, 0, 0, 0.616);
    font-size: 18px;
    text-align: center;
  }

  .big-social-media {
    position: absolute;
    bottom: 2rem;
    left: 0;
    right: 0;
    margin: auto;
    .social-media {
      display: flex;
      gap: 100px;
      justify-content: center;
      margin-top: 1rem;
      .facebook {
        color: #007bff;
      }
      .instagram {
        color: rgba(201, 6, 110, 0.678);
      }
      .x {
        color: $dark;
      }
    }
  }
}
