@import "../../../styles.scss";

.general-container {
  background-color: $navfoot-bg;
  color: $navfoot-text;
  margin: 0;
  width: 100%;
  height: 100px;
  border-bottom: 1px solid black;

  .elements {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .imagenLogo {
      height: 100px;
      margin-left: 20px;
      cursor: pointer;
    }

    .btns {
      display: flex;
      justify-content: space-between; /* Opcional: para distribuir el espacio de manera uniforme entre los botones */

      .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin-left: 20px;
        margin-right: 20px;
        padding: 5px 10px 5px 10px;
        background-color: $logo-color-white;
        border: none;
        border-radius: 10px;
        font-size: 24px;
        .imgIcon {
          width: 30px;
          height: 30px;
          margin-left: 5px;
        }
        border: 1px solid $navfoot-bg;
        // transition: background-color 0.8s ease; /* Opcional: para una transición suave */
        // transition: color 0.5s ease; /* Opcional: para una transición suave */

        &:hover {
          background-color: $logo-color-blue; /* Cambia esto al color que quieras cuando se pasa el mouse sobre el botón */
          border: 1px solid $logo-color-red; /* Opcional: para un borde al pasar el mouse sobre el botón */
          color: $navfoot-text-inverted;
        }
      }
    }
  }
}
