<div class="general-container">
  <div class="elements">
    <img
      class="imagenLogo"
      src="../../../assets/icons/NextHoopsLogo.png"
      alt="Main Logo"
      (click)="toHome()"
    />
    <div class="redirects">
      <div class="redi">
        <a routerLink="/">Inicio</a>
      </div>
      <div class="redi">
        <a routerLink="/tienda">Tienda</a>
      </div>
      <div class="redi">
        <a routerLink="/jugadores">Jugadores</a>
      </div>
      <div class="redi">
        <a routerLink="/equipos">Equipos</a>
      </div>
      <div *ngIf="isLoggedIn()" class="redi">
        <a routerLink="/cart">Carrito</a>
      </div>
      <div class="redi">
        <button *ngIf="!isLoggedIn()" (click)="logIn()" class="btn-log">
          LogIn
        </button>
        <button *ngIf="isLoggedIn()" (click)="logOut()" class="btn-log">
          LogOut
        </button>
      </div>
    </div>
    <!-- <div class="btns">
      
      <button class="btn" (click)="toShop()">
        Tienda
        <img
          class="imgIcon"
          src="../../../assets/icons/carrito.webp"
          alt="Carrito"
        />
      </button>
      <button class="btn" (click)="toPlayers()">
        Jugadores
        <img
          class="imgIcon"
          src="../../../assets/icons/estrella.webp"
          alt="Carrito"
        />
      </button>
      <button class="btn" (click)="toTeams()">
        Equipos
        <img
          class="imgIcon"
          src="../../../assets/icons/camBas.webp"
          alt="Carrito"
        />
      </button>
      <button class="btn" (click)="toDraft()">
        Draft
        <img
          class="imgIcon"
          src="../../../assets/icons/ball.webp"
          alt="Carrito"
        />
      </button>
    </div> -->
  </div>
</div>
