@import "../../../styles.scss";

.container {
  margin: 0 auto;
  justify-content: flex-start;
  padding: 100px;
  gap: 20px; // Espacio entre las tarjetas
}

.title {
  color: $dark;
  font-size: 80px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 60px;
  margin-top: -40px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .custom-card {
    margin: 0 auto;
    width: calc(
      33.33% - 20px
    ); // Restamos 20px para tener en cuenta los márgenes
    height: 950px;
    color: $navfoot-bg;
    margin-top: 20px;
    margin-bottom: 80px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    background-color: $navfoot-text;

    .header,
    .image,
    mat-card-content {
      align-self: stretch;
      text-align: center;
      padding: 10px;
    }

    .header {
      text-align: center;
      margin: 0 auto;
      height: 30%;
      align-items: center;

      h1 {
        color: transparent;
        letter-spacing: 5px;
        font-weight: bold;
        background-image: linear-gradient(
          to right,
          #462523 0,
          #cb9b51 22%,
          #f6e27a 45%,
          #f6f2c0 50%,
          #f6e27a 55%,
          #cb9b51 78%,
          #462523 100%
        );
        -webkit-background-clip: text;
      }
    }

    .image {
      padding: 20px;
      border-bottom: 1px solid black;
      padding-bottom: 0;
    }

    .big-numbers {
      margin: 2px;
    }

    .numbers {
      font-size: 28px;
      margin-top: 5px;
      margin-bottom: 10px;
    }
  }
}
